.header {
  //flex: 0 0 20.83%;
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  padding: 26px 0;
  background-image: radial-gradient(160.65% 47.4% at 93% 52.6%, #482C98 0%, rgba(45, 30, 136, 0) 100%),
    url("/images/rings.svg");
  background-repeat: no-repeat;
  background-position: 50% 94%;
  background-size: contain;
  background-color: #06054A;
  color: #fff;

  @media (min-width: 1440px) {

  }

  @media (max-width: 1024px) {
    background-image: radial-gradient(160.65% 47.4% at 93% 52.6%, #482C98 0%, rgba(45, 30, 136, 0) 100%);
  }
}

.logo {
  padding: 0 30px;
}

.logoLink {
  display: flex;
  justify-content: space-between;
}

.sign {
  width: 47px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #656AD9;
  color: #fff;
}

.wrap {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 14.1vh;
}

.nav {
  flex: 1 0 auto;
}

.bottom {
  padding: 0 30px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #ACADC1;
}
