.main {
  //flex: 0 0 79.17%;
  flex: 0 0 calc(100% - 300px);
  padding: 3.7vh 3.1vw 8.1vh;

  @media (min-width: 1440px) {
    padding: 36px 45px 79px;
  }

  @media (max-width: 575px) {
    padding: 17px 17px 35px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3vh 0;

  @media (min-width: 1440px) {
    margin: 0 0 30px 0;
  }

  @media (max-width: 575px) {
    margin: 0 0 19px 0;
  }
}

.title {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 110%;
  color: #2F2949;

  @media (max-width: 767px) {
    font-size: 30px;
    line-height: 110%;
  }
}

.body {

}

.footer {
  max-width: 690px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #2F2949;
}
