.item {
  flex: 0 0 25%;
  display: flex;

  @media (max-width: 1199px) {
    flex: 0 0 33.33%;
  }

  @media (max-width: 991px) {
    flex: 0 0 50%;
  }
}

.card {
  flex: 1 1 auto;
  border: 1px solid #ddd;
  padding: 9.2vh 2.1vw 2.3vh;
  transition: border-color .2s ease, box-shadow .2s ease;

  &:hover {
    border: 1px solid #52458A;
    box-shadow: 0px 5px 20px rgba(82, 69, 138, 0.3);

    .title::after {
      opacity: 1;
    }
  }

  @media (min-width: 1440px) {
    padding: 90px 30px 23px;
  }

  @media (max-width: 575px) {
    padding: 52px 20px 30px;
  }

  @media (max-width: 359px) {
    padding: 52px 15px 30px;
  }
}

.imgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 8.7vh;

  @media (min-width: 1440px) {
    margin-bottom: 85px;
  }

  @media (max-width: 575px) {
    margin-bottom: 48px;
  }
}

.img {

}

.title {
  position: relative;
  max-width: 138px;
  margin: 0 0 4px 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #2F2949;

  @media (max-width: 575px) {
    margin: 0 0 6px 0;
    font-size: 16px;
    line-height: 15px;
  }

  &::after {
    content: '';
    position: absolute;
    left: calc(100% + 18px);
    top: 7px;
    width: 17px;
    height: 10px;
    background-image: url("/images/arrow-right-blue.svg");
    opacity: 0;
    transition: opacity .2s ease;
    display: none;

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        display: block;
      }
    }
  }
}

.text {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #777;

  @media (max-width: 575px) {
    font-size: 13px;
    line-height: 15px;
  }
}
