@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Tenor+Sans&display=swap');
@import "~normalize.css";

html, body {
  height: 100%;
  font-size: 16px;
}

body > div {
  height: 100%;
}
